################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoAppASPNET/.vs/DemoAppASPNET/v15
/DemoAppASPNET/DemoAppASPNET/bin/Debug/netcoreapp2.1
